[Desktop Entry]
Comment=
Exec={{bitwarden_appimage}}
GenericName=Password Manager
Icon={{bitwarden_icon}}
Name=Bitwarden
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
MimeType=x-scheme-handler/bitwarden;